<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body2">
	<div class="top-box">
		<div class="top-logo">内容获取</div>
		<a class="top-nav top-nav-21" href="0020.html">在线爬取</a>
		<a class="top-nav top-nav-22 checked" href="0025.html">EPG收录</a>		
		<a class="top-nav top-nav-23" href="0040.html">CP内容引入</a>		
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0025.html" class="checked"><span>EPG频道管理</span></a>
		<a href="0033.html"><span>EPG频道类型管理</span></a>
		<a href="0037.html"><span>EPG事件类型管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0025.html">EPG收录</a> > <a href="0025.html">EPG频道管理</a>
		</div>
		<form class="role-admin-box" action="0025.html">
			<div class="role-admin-area clearfix">
				<div class="input-row">
					<span>频道名称：</span>
					<input type="text" required>
				</div>
				<div class="input-row">
					<span>频道类型：</span>
					<select>
						<option>选择频道类型</option>
						<option>类型1</option>
						<option>类型2</option>
					</select>
				</div>
				<div class="input-row">
					<span>平台属性：</span>
					<select>
						<option>选择平台属性</option>
						<option>属性1</option>
						<option>属性2</option>
					</select>
				</div>
				<div class="input-row">
					<span>频道图片：</span>
					<input type="text">
				</div>
				<div class="input-row addr-row">
					<span>频道播放地址：</span>
					<input type="text" class="addr-input-1">
					<input type="text" class="addr-input-2">
					<div class="btn add-addr-btn">添加地址</div>
				</div>
				<div class="input-row">
					<span>DVB频点：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVBTSID：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVBSERVICEID：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVBNETWORKID：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVB逻辑频道号：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>台标：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>高清标识：</span>
					<div class="input-right">
						<input type="radio" name="hd" checked="checked">标清
						<input type="radio" name="hd">高清
					</div>
				</div>
				<div class="input-row">
					<span>付费标识：</span>
					<div class="input-right">
						<input type="radio" name="free" checked="checked">免费
						<input type="radio" name="free">免费
					</div>
				</div>
				<div class="input-row">
					<span>DVB视频编码格式：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVB音频编码格式：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVB总码率：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>DVB分辨率：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>多屏视频编码信息：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>多屏音频频编码信息：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>多屏封装信息：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>多屏码率：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>多屏分辨率：</span>
					<input type="text">
				</div>
				<div class="input-row">
					<span>扩展信息：</span>
					<input type="text">
				</div>
			</div>			
			<input class="role-admin-update btn" type="submit" value="添加">
		</form>		
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html" class="checked">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0029"></script>
</html>
