<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body2">
	<div class="top-box">
		<div class="top-logo">内容获取</div>
		<a class="top-nav top-nav-21" href="0020.html">在线爬取</a>
		<a class="top-nav top-nav-22 checked" href="0025.html">EPG收录</a>		
		<a class="top-nav top-nav-23" href="0040.html">CP内容引入</a>		
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0025.html"><span>EPG频道管理</span></a>
		<a href="0033.html" class="checked"><span>EPG频道类型管理</span></a>
		<a href="0037.html"><span>EPG事件类型管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0025.html">EPG收录</a> > <a href="0033.html">EPG频道类型管理</a>
		</div>
		<form class="eps-edit-form" action="0033.html">
			<div class="input-row">
				<span>频道类型名称：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>频道类型顺序：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>日期：</span>
				<input type="text">
			</div>			
			<input type="submit" class="form-center-btn btn" value="添加">
		</form>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html" class="checked">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0034"></script>
</html>
