<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body1">
	<div class="top-box">
		<div class="top-logo">聚合元数据管理</div>
		<a class="top-nav top-nav-31 checked" href="0043.html">影片资料管理</a>
		<a class="top-nav top-nav-32" href="0075.html">影片标签管理</a>
		<a class="top-nav top-nav-33" href="0084.html">信息参数管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0043.html"><span>影片信息发布</span></a>
		<a href="0054.html" class="checked"><span>影片信息维护</span></a>
		<a href="0065.html"><span>影片合并（一对多）</span></a>
		<a href="0067.html"><span>海报维护列表</span></a>
		<a href="0070.html"><span>告警配置管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0043.html">影片资料管理</a> > <a href="0054.html">影片信息维护</a>
		</div>
		<form class="eps-edit-form" action="0054.html">
			<div class="input-poster">
				<img src="../img/poster.jpg">
			</div>
			<div class="input-wposter">
				<img src="../img/eps.jpg">
			</div>
			<div class="input-row">
				<span>影片名称：</span>
				<input type="text" required>
			</div>
			<div class="input-row">
				<span>影片别名：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>竖向海报：</span>
				<div class="input-right file-right">
					<div class="btn file-btn">选择文件</div>
					<input type="text" class="file-input"><div class="btn file-up"></div>
				</div>
			</div>
			<div class="input-row">
				<span>横向海报：</span>
				<div class="input-right file-right">
					<div class="btn file-btn">上传</div>
					<input type="text" class="file-input">
				</div>
			</div>
			<div class="input-row">
				<span>集数：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>评分：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>作者：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>电视台名：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>主持人：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>简评：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>地区分类：</span>
				<select>
					<option>选择地区</option>
					<option>选项1</option>
					<option>选项2</option>
				</select>
			</div>
			<div class="input-row">
				<span>上映年代：</span>
				<input type="text">
			</div>
			<div class="input-row">
				<span>影视分类：</span>
				<select>
					<option>请选择</option>
					<option>选项1</option>
					<option>选项2</option>
				</select>
			</div>
			<div class="input-row auto-row">
				<span>剧情分类：</span>
				<div class="input-right auto-right">
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
					<i><input type="checkbox">动作</i>
				</div>
			</div>
			<div class="input-row">
				<span>时长（分钟）：</span>
				<input type="text">
			</div>
			<div class="input-row auto-row">
				<span>导演：</span>
				<div class="input-right auto-right">
					<textarea></textarea>
				</div>
			</div>
			<div class="input-row auto-row">
				<span>主演：</span>
				<div class="input-right auto-right">
					<textarea></textarea>
				</div>
			</div>
			<div class="input-row">
				<span>上映时间：</span>
				<input type="text">
			</div>
			<input type="submit" class="form-center-btn btn" value="更新">
		</form>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html" class="checked">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0057"></script>
</html>
