<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body1 inner">
	<div class="ctrl-box clearfix">
		<div class="ctrl-b icon btn" style="width:80px;">添加删除</div>
		<input type="text" placeholder="影片名称" style="width:120px;">
		<input type="text" placeholder="导演" style="width:120px;">
		<input type="text" placeholder="主演" style="width:120px;">
		<select>
			<option>影片类型</option>
			<option>电影</option>
			<option>电视剧</option>
		</select>
		<div class="ctrl-search btn" title="搜索"></div>
		<div class="ctrl-reset btn" title="重置"></div>
	</div>
	<table class="merge-table-3">
		<tr>
			<th><input type="checkbox" class="checkall"></th>
			<th>ID</th>
			<th>名称</th>
			<th>类型</th>
			<th>导演</th>
			<th>主演</th>
			<th>地区</th>
			<th>年代</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		<tr>
			<td><input type="checkbox" class="checkone"></td>
			<td>1</td>
			<td class="eps-mid">打样时</td>
			<td>电影</td>
			<td>张萌</td>
			<td>秦海璐</td>
			<td>大陆</td>
			<td>2010</td>
			<td>已发布</td>
			<td>
				<div class="fold-ctrl clearfix">
					<div class="fold-a" title="添加保留"></div>
					<div class="fold-b" title="添加删除"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox" class="checkone"></td>
			<td>2</td>
			<td class="eps-mid">打样时打样时打样时打样时打样时打样时</td>
			<td>电影</td>
			<td>张萌</td>
			<td>秦海璐</td>
			<td>大陆</td>
			<td>2010</td>
			<td>已发布</td>
			<td>
				<div class="fold-ctrl clearfix">
					<div class="fold-a" title="添加保留"></div>
					<div class="fold-b" title="添加删除"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox" class="checkone"></td>
			<td>3</td>
			<td class="eps-mid">打样时</td>
			<td>电影</td>
			<td>张萌</td>
			<td>秦海璐</td>
			<td>大陆</td>
			<td>2010</td>
			<td>已发布</td>
			<td>
				<div class="fold-ctrl clearfix">
					<div class="fold-a" title="添加保留"></div>
					<div class="fold-b" title="添加删除"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox" class="checkone"></td>
			<td>4</td>
			<td class="eps-mid">打样时</td>
			<td>电影</td>
			<td>张萌</td>
			<td>秦海璐</td>
			<td>大陆</td>
			<td>2010</td>
			<td>已发布</td>
			<td>
				<div class="fold-ctrl clearfix">
					<div class="fold-a" title="添加保留"></div>
					<div class="fold-b" title="添加删除"></div>
				</div>
			</td>
		</tr>
	</table>
	<div id="pagination" class="pagination">
		<span class="current prev">上一页</span>
		<span class="current">1</span>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<span>...</span>
		<a href="#">8</a>
		<a href="#" class="next">下一页</a>
		<i class="btn">确定</i>
		<input type="text" class="page-size" value="6">
		<i style="margin-left:10px;">每页显示：</i>
		<i>条记录</i>
		<i class="page-total">100</i>
		<i>共</i>
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0065-3"></script>
</html>
