<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body1 inner">
	<div class="mg-inner full">
		<div class="mg-t">B</div>		
		<ul class="mg-ul clearfix">
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
			<li>123456<i class="mg-cross"></i></li>
		</ul>
		<div class="btn mg-clear-2">清空</div>
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0065-2"></script>
</html>
