<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body1">
	<div class="top-box">
		<div class="top-logo">聚合元数据管理</div>
		<a class="top-nav top-nav-31" href="0043.html">影片资料管理</a>
		<a class="top-nav top-nav-32 checked" href="0075.html">影片标签管理</a>
		<a class="top-nav top-nav-33" href="0084.html">信息参数管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0075.html" class="checked"><span>元数据标签管理</span></a>
		<a href="0080.html"><span>影片标签数据管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0075.html">影片标签管理</a> > <a href="0075.html">元数据标签管理</a>
		</div>
		<form class="eps-edit-form" action="0075.html">
			<div class="input-row">
				<span>标签名称：</span>
				<input type="text" required>
			</div>
			<div class="input-row">
				<span>是否启用：</span>
				<div class="input-right">
					<input type="radio" name="valid" checked="checked">是
					<input type="radio" name="valid">否
				</div>
			</div>
			<input type="submit" class="form-center-btn btn" value="添加">
		</form>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html" class="checked">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0076"></script>
</html>
