<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body1">
	<div class="top-box">
		<div class="top-logo">聚合元数据管理</div>
		<a class="top-nav top-nav-31" href="0043.html">影片资料管理</a>
		<a class="top-nav top-nav-32 checked" href="0075.html">影片标签管理</a>
		<a class="top-nav top-nav-33" href="0084.html">信息参数管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0075.html"><span>元数据标签管理</span></a>
		<a href="0080.html" class="checked"><span>影片标签数据管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0075.html">影片标签管理</a> > <a href="0080.html">影片标签数据管理</a>
		</div>
		<div class="ctrl-box tag-up clearfix">
			<span class="bold">最近新增标签</span>
			<input type="text" placeholder="标签名称">
			<a class="ctrl-search btn" href="0075.html"></a>
		</div>
		<ul class="tag-box clearfix">
			<li class="checked">标签</li>
			<li>标签名1</li>
			<li>标签2名称</li>
			<li>标签名称标签名称</li>
			<li>标签名称</li>
			<li>标签名称</li>
			<li>标签2名称</li>
			<li>标签名称</li>
			<li>标签名称标签名称</li>
			<li>标签</li>
			<li>标签</li>
			<li>标签</li>
			<li>标签名称</li>
			<a href="0075.html">更多标签</a>
		</ul>

		<div class="ctrl-box gray clearfix">
			<span class="bold" id="tag-name">当前标签名称：标签名1</span>
			<span><input type="checkbox">删除导入关联</span>
			<span><input type="checkbox">删除规则关联</span>
			<div class="ctrl-confirm-del icon btn" style="width:80px;">确认删除</div>
		</div>
		<div class="ctrl-box clearfix" style="padding-bottom:0">
			<a class="ctrl-add icon btn" href="0081.html">新增</a>
			<div class="ctrl-del icon btn">删除</div>
			<div class="btn file-btn">选择文件</div>
			<input type="text" class="file-input"><div class="btn file-up"></div>
		</div>
		<div class="ctrl-box clearfix" style="padding:0">
			<select>
				<option>影片题材</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>影片类型</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>影片地区</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>影片年代</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>关联状态</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>		
			<input type="text" placeholder="影片ID 影片名称">
			<div class="ctrl-search btn" title="搜索"></div>
			<div class="ctrl-reset btn" title="重置"></div>
		</div>
		<table>
			<tr>
				<th><input type="checkbox" class="checkall"></th>
				<th>关联状态</th>
				<th>影片ID</th>
				<th>影片名称</th>
				<th>影片类型</th>
				<th>影片地区</th>
				<th>影片年代</th>
				<th>影片题材</th>
				<th>发布时间</th>
				<th>操作</th>
			</tr>
			<tr class="fold-row">
				<td><input type="checkbox" class="checkone"></td>
				<td>导入关联</td>
				<td>323ww</td>
				<td>阿斯顿发生的</td>
				<td>电影</td>
				<td>巴西</td>
				<td>2005</td>
				<td>动作片</td>
				<td>2014-10-10 10:10:10</td>
				<td>
					<div class="fold-ctrl clearfix">
						<div class="fold-del" title="删除"></div>
					</div>
				</td>
			</tr>
			<tr class="fold-row">
				<td><input type="checkbox" class="checkone"></td>
				<td>导入关联</td>
				<td>323ww</td>
				<td>阿斯顿发生的</td>
				<td>电影</td>
				<td>巴西</td>
				<td>2005</td>
				<td>动作片</td>
				<td>2014-10-10 10:10:10</td>
				<td>
					<div class="fold-ctrl clearfix">
						<div class="fold-del" title="删除"></div>
					</div>
				</td>
			</tr>
		</table>
		<div id="pagination" class="pagination clearfix">
			<span class="current prev">上一页</span>
			<span class="current">1</span>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<span>...</span>
			<a href="#">8</a>
			<a href="#" class="next">下一页</a>
			<i class="btn">确定</i>
			<input type="text" class="page-size" value="6">
			<i style="margin-left:10px;">每页显示：</i>
			<i>条记录</i>
			<i class="page-total">100</i>
			<i>共</i>
		</div>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html" class="checked">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0080"></script>
</html>
