<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body3">
	<div class="top-box">
		<div class="top-logo">内容管理</div>
		<a class="top-nav top-nav-41" href="0113.html">媒资内容管理</a>
		<a class="top-nav top-nav-42" href="0131.html">转码管理</a>
		<a class="top-nav top-nav-44 checked" href="0145.html">EPG内容管理</a>
		<a class="top-nav top-nav-45" href="0153.html">爬取数据管理</a>
		<a class="top-nav top-nav-46" href="0159.html">数据发布管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0145.html" class="checked"><span>EPG节目管理</span></a>
		<a href="0151.html"><span>EPG收录管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0145.html">EPG内容管理</a> > <a href="0145.html">EPG节目管理</a>
		</div>
		<div class="ctrl-box clearfix">
			<a class="ctrl-add icon btn" href="0146.html">添加</a>
			<div class="ctrl-del icon btn">删除</div>
			<div class="ctrl-collect icon btn">收录</div>
			<div class="ctrl-rel icon btn">发布</div>
			<div class="ctrl-cancel icon btn">撤销</div>
			<a class="ctrl-match icon btn" href="0149.html">匹配</a>
			<div class="btn file-btn">选择文件</div>
			<input type="text" class="file-input"><div class="btn file-up"></div>
		</div>
		<div class="ctrl-box clearfix">
			<input type="text" placeholder="节目ID 频道名称 时间">
			<select>
				<option>发布</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>收录</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<div class="ctrl-search btn" title="搜索"></div>
			<div class="ctrl-reset btn" title="重置"></div>			
		</div>
		<table>
			<tr>
				<th><input type="checkbox" class="checkall"></th>
				<th>节目ID</th>
				<th>节目名称</th>
				<th>频道名称</th>
				<th>收录状态</th>
				<th>事件类型</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>发布状态</th>
				<th>操作</th>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>O234234E</td>
				<td>萨法手动阀</td>
				<td>湖南卫视</td>
				<td>未收录</td>
				<td></td>
				<td>2015-10-10 10:10:10</td>
				<td>2015-10-10 10:10:10</td>
				<td>已发布</td>
				<td>
					<div class="fold-ctrl clearfix">						
						<a class="fold-edit" title="编辑" href="0145-edit.html"></a>
						<div class="fold-down" title="撤销"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>O234234E</td>
				<td>萨法手动阀</td>
				<td>湖南卫视</td>
				<td>未收录</td>
				<td></td>
				<td>2015-10-10 10:10:10</td>
				<td>2015-10-10 10:10:10</td>
				<td>未发布</td>
				<td>
					<div class="fold-ctrl clearfix">						
						<a class="fold-edit" title="编辑" href="0145-edit.html"></a>
						<div class="fold-up" title="发布"></div>
					</div>
				</td>
			</tr>
		</table>
		<div id="pagination" class="pagination clearfix">
			<span class="current prev">上一页</span>
			<span class="current">1</span>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<span>...</span>
			<a href="#">8</a>
			<a href="#" class="next">下一页</a>
			<i class="btn">确定</i>
			<input type="text" class="page-size" value="6">
			<i style="margin-left:10px;">每页显示：</i>
			<i>条记录</i>
			<i class="page-total">100</i>
			<i>共</i>
		</div>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html" class="checked">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0145"></script>
</html>
