<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body3">
	<div class="top-box">
		<div class="top-logo">内容管理</div>
		<a class="top-nav top-nav-41" href="0113.html">媒资内容管理</a>
		<a class="top-nav top-nav-42" href="0131.html">转码管理</a>
		<a class="top-nav top-nav-44 checked" href="0145.html">EPG内容管理</a>
		<a class="top-nav top-nav-45" href="0153.html">爬取数据管理</a>
		<a class="top-nav top-nav-46" href="0159.html">数据发布管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0145.html" class="checked"><span>EPG节目管理</span></a>
		<a href="0151.html"><span>EPG收录管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0145.html">EPG内容管理</a> > <a href="0145.html">EPG节目管理</a>
		</div>
		<form class="eps-edit-form" action="0145.html">
			<div class="input-row">
				<span>节目名称：</span>
				<input type="text" required>
			</div>
			<div class="input-row">
				<span>频道类型：</span>
				<select>
					<option>选项1</option>
					<option>选项2</option>
				</select>
			</div>
			<div class="input-row">
				<span>事件类型：</span>
				<select>
					<option>选项1</option>
					<option>选项2</option>
				</select>
			</div>
			<div style="height:30px;"></div>
			<input type="submit" class="form-center-btn btn" value="确定">
		</form>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html" class="checked">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0149"></script>
</html>
