<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body3">
	<div class="top-box">
		<div class="top-logo">内容管理</div>
		<a class="top-nav top-nav-41" href="0113.html">媒资内容管理</a>
		<a class="top-nav top-nav-42" href="0131.html">转码管理</a>
		<a class="top-nav top-nav-44" href="0145.html">EPG内容管理</a>
		<a class="top-nav top-nav-45 checked" href="0153.html">爬取数据管理</a>
		<a class="top-nav top-nav-46" href="0159.html">数据发布管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0153.html"><span>主动缓存资源列表</span></a>
		<a href="0155.html" class="checked"><span>爬虫数据人工审核</span></a>
		<a href="0157.html"><span>爬虫数据发布管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0153.html">爬取数据管理</a> > <a href="0155.html">爬虫数据人工审核</a>
		</div>
		<div class="ctrl-box clearfix">
			<a class="ctrl-edit icon btn" href="#">编辑</a>		
			<div class="ctrl-undo icon btn" style="width:80px;">取消编辑</div>		
			<div class="ctrl-replace icon btn" style="width:80px;">批量替换</div>		
			<div class="ctrl-del icon btn">删除</div>		
			<div class="ctrl-rel icon btn">发布</div>
			<br><br>	
			<input type="text" placeholder="影片ID">
			<input type="text" placeholder="影片名称">
			<select>
				<option>采集点</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<input type="text" placeholder="采集类型">
			<input type="text" placeholder="原站标题">
			<input type="text" placeholder="创建日期">
			<select>
				<option>编辑状态</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<input type="text" placeholder="集数">
			<div class="ctrl-search btn" title="搜索"></div>
			<div class="ctrl-reset btn" title="重置"></div>	
		</div>
		<table>
			<tr>
				<th><input type="checkbox" class="checkall"></th>
				<th>显示名称</th>
				<th>影片ID</th>
				<th>集数
					<span class="rank-up" title="升序"></span>
					<span class="rank-down" title="降序"></span>
				</th>
				<th>影片名称</th>
				<th>类型</th>
				<th>原站标题</th>
				<th>采集点</th>
				<th>编辑状态</th>
				<th>播放地址</th>
				<th>swf地址</th>
				<th>创建时间
					<span class="rank-up" data-type="time" title="升序"></span>
					<span class="rank-down" data-type="time" title="降序"></span>
				</th>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>海绵宝宝</td>
				<td>234234E</td>
				<td>113</td>
				<td>海绵宝宝</td>
				<td></td>
				<td>电视剧</td>
				<td>优库</td>
				<td>完成</td>
				<td></td>
				<td></td>
				<td>2015-10-10</td>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>海绵宝宝</td>
				<td>234234E</td>
				<td>13</td>
				<td>海绵宝宝</td>
				<td></td>
				<td>电视剧</td>
				<td>优库</td>
				<td>完成</td>
				<td></td>
				<td></td>
				<td>2013-10-10</td>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>海绵宝宝</td>
				<td>234234E</td>
				<td>2</td>
				<td>海绵宝宝</td>
				<td></td>
				<td>电视剧</td>
				<td>优库</td>
				<td>完成</td>
				<td></td>
				<td></td>
				<td>2010-10-10</td>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>海绵宝宝</td>
				<td>234234E</td>
				<td>23</td>
				<td>海绵宝宝</td>
				<td></td>
				<td>电视剧</td>
				<td>优库</td>
				<td>完成</td>
				<td></td>
				<td></td>
				<td>2014-10-01</td>
			</tr>
		</table>
		<div id="pagination" class="pagination clearfix">
			<span class="current prev">上一页</span>
			<span class="current">1</span>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<span>...</span>
			<a href="#">8</a>
			<a href="#" class="next">下一页</a>
			<i class="btn">确定</i>
			<input type="text" class="page-size" value="6">
			<i style="margin-left:10px;">每页显示：</i>
			<i>条记录</i>
			<i class="page-total">100</i>
			<i>共</i>
		</div>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html" class="checked">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0155"></script>
</html>
