<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body4">
	<div class="top-box">
		<div class="top-logo">版权管理</div>
		<a class="top-nav top-nav-80 checked" href="0161.html">版权配置管理</a>
		<a class="top-nav top-nav-81" href="0165.html">版权数据管理</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0161.html" class="checked"><span>版权配置管理</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0161.html">版权配置管理</a> > <a href="0161.html">版权配置管理</a>
		</div>
		<div class="ctrl-box clearfix">
			<a class="ctrl-add icon btn" href="0162.html">添加</a>
			<div class="ctrl-del icon btn">删除</div>
			<div class="ctrl-refresh icon btn">刷新</div>
		</div>
		<div class="ctrl-box clearfix">
			<input type="text" placeholder="策略名称">
			<input type="text" placeholder="资源名称">
			<input type="text" placeholder="导入时间">
			<select>
				<option>影片类型</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>终端类型</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>内容提供商</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<select>
				<option>状态</option>
				<option>全部</option>
				<option>选项1</option>
				<option>选项2</option>
			</select>
			<div class="ctrl-search btn" title="搜索"></div>
			<div class="ctrl-reset btn" title="重置"></div>			
		</div>
		<table>
			<tr>
				<th><input type="checkbox" class="checkall"></th>
				<th>策略名称</th>
				<th>资源名称</th>
				<th>内容供应商</th>
				<th>版权提供商</th>
				<th>影片类型</th>
				<th>终端类型</th>
				<th>版权到期时间</th>
				<th>添加时间</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>策略1</td>
				<td>萨法手动阀</td>
				<td>湖南卫视</td>
				<td>湖南卫视</td>
				<td></td>
				<td></td>
				<td>2015-10-10 10:10:10</td>
				<td>2015-10-10 10:10:10</td>
				<td>启用</td>
				<td>
					<div class="fold-ctrl clearfix">						
						<a class="fold-edit" title="编辑" href="0163.html"></a>
						<div class="fold-del" title="删除"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" class="checkone"></td>
				<td>策略1</td>
				<td>萨法手动阀</td>
				<td>湖南卫视</td>
				<td>湖南卫视</td>
				<td></td>
				<td></td>
				<td>2015-10-10 10:10:10</td>
				<td>2015-10-10 10:10:10</td>
				<td>启用</td>
				<td>
					<div class="fold-ctrl clearfix">						
						<a class="fold-edit" title="编辑" href="0163.html"></a>
						<div class="fold-del" title="删除"></div>
					</div>
				</td>
			</tr>
		</table>
		<div id="pagination" class="pagination clearfix">
			<span class="current prev">上一页</span>
			<span class="current">1</span>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<span>...</span>
			<a href="#">8</a>
			<a href="#" class="next">下一页</a>
			<i class="btn">确定</i>
			<input type="text" class="page-size" value="6">
			<i style="margin-left:10px;">每页显示：</i>
			<i>条记录</i>
			<i class="page-total">100</i>
			<i>共</i>
		</div>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html">统计中心</a>
			<a href="0161.html" class="checked">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0161"></script>
</html>
