<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full inner">
	<div class="ctrl-box sel-box clearfix">
		<div class="btn sel-btn">请选择供应商</div>
		<div class="sel-ul hide clearfix">
			<i><input type="checkbox">选项1</i>
			<i><input type="checkbox">选项2</i>
			<i><input type="checkbox">选项3</i>
			<i><input type="checkbox">选项4</i>
			<i><input type="checkbox">选项5</i>
			<i><input type="checkbox">选项6</i>
			<i><input type="checkbox">选项7</i>
			<i><input type="checkbox">选项8</i>
			<i><input type="checkbox">选项1</i>
			<i><input type="checkbox">选项2</i>
			<i><input type="checkbox">选项3</i>
			<div class="btn sel-confirm">确定</div>
		</div>					
	</div>
	<div class="sta-under" id="echarts2"></div>
</body>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0170-bar"></script>
</html>
