<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full body5">
	<div class="top-box">
		<div class="top-logo">统计中心</div>
		<a class="top-nav top-nav-70" href="0170.html">全局统计概况</a>
		<a class="top-nav top-nav-71" href="0171.html">内容生产统计</a>
		<a class="top-nav top-nav-72 checked" href="0178.html">爬虫数据统计</a>
		<a class="top-nav top-nav-73" href="0181.html">版权统计</a>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a href="0178.html" class="checked"><span>爬虫内容汇聚统计</span></a>
		<a href="0179.html"><span>爬虫数据缓存趋势</span></a>
		<a href="0180.html"><span>爬虫数据聚合趋势</span></a>
	</div>
	<div class="content">
		<div class="content-info">
			<a href="0178.html">爬虫数据统计</a> > <a href="0178.html">爬虫内容汇聚统计</a>
		</div>
		<div class="ctrl-box sta-ctrl clearfix">
			<div class="btn" style="width:120px;">更新统计</div>
			<div class="btn" style="width:120px;">导出Excel</div>
			<div class="btn" style="width:120px;">导出Word</div>
			<div class="btn" style="width:120px;">导出PDF</div>
		</div>
		<div class="sta-chart" id="echarts"></div>
		<div class="sta-wrap">
			<table class="sta-table"><tbody>
				<tr>
					<th>聚合来源</th>
					<th>电影</th>
					<th>电视剧</th>
					<th>动漫</th>
					<th>综艺</th>
					<th>社交</th>
					<th>体育</th>
					<th>广告</th>
					<th>未分类</th>
					<th>新闻</th>
					<th>游戏</th>
					<th>服务</th>
					<th>娱乐</th>
					<th>总计</th>
				</tr>
				<tr>
					<td>土豆</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>2768</td>
				</tr>
				<tr>
					<td>土豆</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>3672</td>
					<td>4827</td>
					<td>2768</td>
					<td>2768</td>
				</tr>
			</tbody></table>
		</div>
		<div id="pagination" class="pagination clearfix">
			<span class="current prev">上一页</span>
			<span class="current">1</span>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<span>...</span>
			<a href="#">8</a>
			<a href="#" class="next">下一页</a>
			<i class="btn">确定</i>
			<input type="text" class="page-size" value="6">
			<i style="margin-left:10px;">每页显示：</i>
			<i>条记录</i>
			<i class="page-total">100</i>
			<i>共</i>
		</div>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="0003.html">系统管理</a>
			<a href="0170.html" class="checked">统计中心</a>
			<a href="0161.html">版权管理</a>
			<a href="0113.html">内容管理</a>
			<a href="0020.html">内容获取</a>
			<a href="0043.html">聚合元数据管理</a>
		</div>		
	</div>
</body>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="0178"></script>
</html>
