<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full">
	<div class="top-box dark">
		<div class="top-title"></div>
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="javascript:void(0)"></a>
		<a class="top-btn top-home checked" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="home-wrap center">
		<div class="home-ul clearfix">
			<a href="#"><span>聚合元数据管理</span></a>
			<a href="#"><span>内容获取</span></a>
			<a href="#"><span>内容管理</span></a>
			<a href="#"><span>版权管理</span></a>
			<a href="#"><span>统计中心</span></a>
			<a href="#"><span>系统管理</span></a>
			<a href="#"><span>产品网关</span></a>
		</div>
		<div class="home-shadow"></div>
		<div class="home-copy">
			<p>Copyright © 2014-2020 Neteast technclogies All  Rights Reserved</p>
			<p>北京东方网信有限公司</p>
		</div>
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="home"></script>
</html>
