<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="full">
	<div class="top-box">
		<div class="top-logo"></div>
		<a class="top-nav top-film checked" href="#">影片资料管理</a>
		<a class="top-nav top-tag" href="#">影片标签管理</a>
		<a class="top-nav top-entry" href="#">信息参数管理</a>		
		<a class="top-btn top-power" href="#"></a>
		<a class="top-btn top-gear" href="#"></a>
		<a class="top-btn top-home" href="#"></a>
		<a class="top-btn top-refresh" href="#"></a>
		<span class="top-name">testtest</span>
	</div>
	<div class="menu-box">
		<div class="menu-logo"><span>功能菜单</span></div>
		<a class="checked" href="#"><span>影片信息发布</span></a>
		<a href="#"><span>影片信息维护</span></a>
		<a href="#"><span>影片合并</span></a>
		<a href="#"><span>海报维护列表</span></a>
		<a href="#"><span>高级配置管理</span></a>
	</div>
	<div class="content">
		<div class="loading-tip center">内容加载中…</div>
	</div>
	<div class="float-box trans1 clearfix">
		<div class="shade"></div>
		<div class="float-title">
			<div class="shade"></div>
			<span>CMP</span>
		</div>
		<div class="float-wrap full"> <a href="#">产品网关</a>
			<a href="#" class="checked">系统管理</a>
			<a href="#">统计中心</a>
			<a href="#">版权管理</a>
			<a href="#">内容管理</a>
			<a href="#">内容获取</a>
			<div class="float-logo">聚合元数据管理</div>
		</div>		
	</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="loading"></script>
</html>
