<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
<style>
.btn1,.btn2,.btn3{margin:50px auto;}
</style>
</head>
<body class="full">
	<div class="btn btn1">弹框1</div>
	<div class="btn btn2">弹框2</div>
	<div class="btn btn3">弹框3</div>
	<div class="btn btn4">tip</div>
	<div class="btn btn5">弹框test</div>
</body>
<script src="../js/jq.min.js"></script>
<script src="../js/require.min.js" data-main="../js/main.js" id="page-name" data-page-name="temp"></script>
</html>
